.box {
	width: 400px;
	height: 400px;
	background-color: beige;
	border: 2px solid black;

	transition-property: all, width, background-color;
	transition-duration: 4s;
	transition-delay: 0s;
	transition-timing-function: linear;

	transition: width 5s;
}

.box:hover {
	width: 1200px;
	background-color: black;
}
